name: docs

on:
  push:
    branches:
      - "galactic"
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3.1.0
      - name: Build and push docs
        uses: athackst/mkdocs-simple-plugin@v2.1.2
        with:
          publish_branch: gh-pages-galactic
          edit_uri: edit/galactic
